.sidebar_container{
    height: 100dvh;
    width: 250px;
    /* background-color: #587bb680; */
    background-color: #435fe6;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: white;
}

.sidebar_company_name{
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.sidebarButtons_container{
    margin-top: 56px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}