.dataHeader_container{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}

.data_change_page_container{
    display: flex;
    width: fit-content;
    height: 56px;
    align-items: center;
    margin-right: 32px;
}

.data_change_page_arrow{
    width: 32px;
    height: 32px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: #9bbdf989; */
    background-color: #edf2f6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.data_change_page_arrow img{
    width: 18px;
    height: 18px;
}

.data_change_page_arrow:hover{
    background-color: #dfe4e9;
    transition: 0.3s;
}

.data_change_page_current{
    font-size: 24px;
    margin-right: 8px;
    user-select: none;
    min-width: 30px;
    display: flex;
    justify-content: center;
}

#left_arrow{
    transform: rotate(180deg);
    margin-right: 8px;
}

.dataHeader_search_container{
    width: fit-content;
    height: 100%;
    align-items: center;
    display: flex;
}

.dataHeader_search_input{
    outline: none;
    border: none;
    width: 240px;
    height: 32px;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    transition: 0.3s;
    /* outline: 1px solid #4c89f3c8; */
    outline: 1px solid #d1d8e2;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius:3px;
}

.dataHeader_search_input::placeholder{
    color: rgba(128, 128, 128, 0.750);
}

.dataHeader_search_button{
    height: 34px;
    width: 60px;
    /* background-color: #4c89f3c8; */
    background-color: #d1d8e2;
    color: white;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(100%);
    border-radius: 0 3px 3px 0;
}

.dataHeader_search_button:hover{
    background-color: #1b3cdf;
    transition: 0.3s;
}

.dataHeader_create_button{
    width: fit-content;
    height: 34px;
    margin-left: 24px;
    margin-right: 0px;
    background-color: #425fe4;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 400;
}

.dataHeader_create_button_solo{
    width: fit-content;
    height: 34px;
    margin-left: auto;
    margin-right: 0px;
    background-color: #425fe4;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 400;
}

.dataHeader_create_button_solo:hover{
    background-color: #1b3cdf;
    transition: 0.3s;
}

.dataHeader_create_button_solo img{
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.dataHeader_create_button_solo div{
    margin-bottom: 2px;
    color: white;
}

.dataHeader_create_button img{
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.dataHeader_create_button div{
    margin-bottom: 2px;
    color: white;
}

.email_newsletter_button{
    width: fit-content;
    height: 34px;
    margin-left: auto;
    margin-right: 0px;
    /* background-color: #4c89f3c8; */
    background-color: #425fe4;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 400;
    color: white;
}

.email_newsletter_button img{
    width: 26px;
    height: 26px;
    margin-right: 12px;
}

.email_newsletter_button div{
    margin-bottom: 2px;
    color: white;
}

.email_newsletter_button:hover{
        background-color: #1b3cdf;
        transition: 0.3s;
}

.dataHeader_create_button:hover{
    background-color: #1b3cdf;
    transition: 0.3s;
}

.dataHeader_create_field_background{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.hide{
    display: none;
}

.dataHeader_create_field{
    width: 500px;
    padding: 24px;
    height: fit-content;
    border-radius: 15px;
    background-color:#f4f4f4;
}

.uuid{
    margin-top: 8px;
    font-size: 24px;
    font-weight: 300;
}

.uuid_description{
    margin-top: 4px;
    color: gray;
}

.uuid_header{
    margin-top: 16px;
    font-size: 26px;
    font-weight: 500;
}