.fieldInput_container{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.fieldInput_container:nth-child(1){
    margin-top: 0px;
}

.fieldInput_header{
    border-bottom: 1px solid gray;
}