.fieldInput_name{
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
}

.fieldInput_input{
    width: calc(100%-32px);
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    border: 1.5px solid black;
    border-radius: 3px;
    outline: none;
    margin-top: 12px;
    font-size: 20px;
}

.fieldInput_input:focus{
    border: 1.5px solid #1b3cdf;
    transition: 0.3s;
}

.fieldInput_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fieldInput_header_name{
    font-size: 28px;
    font-weight: 500;
    color: black;
}

.fieldInput_header_close{
    background-size: cover;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.fieldInput_description{
    color: gray;
    margin-top: 4px;
}